body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    line-height: 1.5;
    background: #22272e;
    color: #d1dfec;
    transition: 1s ease;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px;
}

.convert {
    background: #2a3038;
    border-color: #444c56;
    border-width: 1px;
    border-radius: 6px;
    border-style: solid;
    padding: 30px 30px 50px 30px;
}

.input {
    outline: none !important;
    border: 1px solid #444c56;
    background: #2a3038;
    box-shadow: none !important;
    font-size: 30px;
    color: #d1dfec;
    background: #3c444e;
    border-radius: 5px;
    padding: 20px;
}


#to {
    cursor: text;
}

.convert__controls {
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
}

#left, #right {
    margin-bottom: 15px;
}

.swap {
    filter: invert(1);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: -40px;
}

.swap:active {
    filter: invert(0.8);
    transform: scale(1.3);
}