body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    line-height: 1.5;
    background: #22272e;
    color: #d1dfec;
    transition: 1s ease;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px;
}

.convert {
    background: #22272e;
    border-color: #444c56;
    border-width: 1px;
    border-radius: 6px;
    border-style: solid;
    padding: 30px;
}

.convert__controls {
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
}

.swap {
    margin-left: 20px;
    margin-right: 20px;
    filter: invert(1);
    margin-top: -4px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.swap:active {
    filter: invert(0.8);
    transform: scale(1.3);
}